.pdp-container {
	overflow: auto;
	width: 900px;
	border: 1px solid #ccc;
	position: relative;
}


.pdp-main-container {
	float:left;
	width: 600px;
}

.pdp-right-container {
	float: left;
	width: 300px;
}

.panel {
	position: absolute;
	top: 0;
	right: 300px;
	width: 300px;
	height: 800px;
	background-color: #ccc;
}